body {
    font-family: 'Bitter', serif;
    color: white;
    padding: 0;
    margin: 0;
}

span.border {
    border: 2px solid white;
    padding: 3px 7px;
    border-radius: 10px;
}

.bg {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-position: center;
    z-index: -1;
    overflow: hidden;
    background-image: url(/img/3pqb1p0mnbn21.gif);
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
}

div.timer {
    text-align: center;
    line-height: 2em;
    font-size: 2em;
    background-color: rgba(0, 0, 0, 0.75);
    width: max-content;
    padding: 10px;
    border-radius: 25px;
    margin: auto;
}

span.remain {
    font-size: 2em;
}

.wrapper {
    display: grid;
    align-items: center;
    height: 100vh;
}