body {
    font-family: 'Bitter', serif;
    color: white;
    padding: 0;
    margin: 0;
    width: 100vw;
}

span.border {
    border: 2px solid white;
    padding: 3px 7px;
    border-radius: 10px;
}

.bg {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-position: center;
    z-index: -1;
    overflow: hidden;
    background-image: url(/img/3pqb1p0mnbn21.gif);
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
}

div.timer {
    text-align: center;
    line-height: 2em;
    font-size: 3.5vw;
    background-color: rgba(0, 0, 0, 0.75);
    width: max-content;
    padding: 10px;
    border-radius: 25px;
    margin: auto;
}

span.remain {
    font-size: 2em;
}

.wrapper {
    display: grid;
    align-items: center;
    height: 100vh;
}

br {
    height: 0;
}

.times {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 5px;
}

@media (max-width: 570px) {
    .times {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }
    div.timer {
        font-size: 6vw;
    }
    span.remain {
        font-size: 1.5em;
    }
}